<!--<div class="contextMenu" (contextmenu)="folder.onRightClick($event)">-->
<!--<div *ngIf="folder.rightClick">-->

<input [(ngModel)]="newName" type=text placeholder="Nouveau fichier">

<button (click)="folder.addFile(newName)" type="button"> Ajouter</button>

<input [(ngModel)]="newNameFolder" type=text placeholder="Nouveau dossier">

<button (click)="folder.addFolder(newNameFolder)" type="button"> Ajouter</button>

<!--</div>-->
<!--</div>-->

<!--<span *ngIf="folder.children.length>0">-->
<!--<span *ngIf="folder.children[0].children != null">-->
<!--<span *ngIf="folder.children[0].children[0]">-->
<!--<p>{{folder.children[0].children[0].name}}</p>-->
<!--</span>-->
<!--</span>-->
<!--</span>-->
<!--<button (dblclick)="folder.addFolder(newNameFolder)" type="button"> Ajouter</button>-->

<ul>
  <li *ngFor="let current of folder.children">

    <span *ngIf="current.isFolder()">

      <div class="folder" (dblclick)="current.toggle()">{{ current.name }}</div>
    <div *ngIf="current.expanded">
      <app-folder [folder]="current"></app-folder>
    </div>
    </span>

    <span *ngIf="!current.isFolder()">

       <div class="file-icon">{{ current.name }}</div>
    </span>
  </li>
</ul>


<!--<tr *ngFor="let current of folder.children">-->
<!--<button (click)="affiche()" type="button"> {{current.name}} </button>-->
<!--</tr>-->
