

<input [(ngModel)]="newName" type=text placeholder="Nouveau fichier">

<button (click)="folder.addFile(newName)" type="button"> Ajouter </button>

<input [(ngModel)]="newNameFolder" type=text placeholder="Nouveau dossier">

<button (click)="folder.addFolder(newNameFolder)" type="button"> Ajouter </button>


<!--<span *ngIf="folder.children.length>0">-->
  <!--<span *ngIf="folder.children[0].children != null">-->
    <!--<span *ngIf="folder.children[0].children[0]">-->
     <!--<p>{{folder.children[0].children[0].name}}</p>-->
    <!--</span>-->
  <!--</span>-->
<!--</span>-->
<button (dblclick)="folder.addFolder(newNameFolder)" type="button"> Ajouter </button>

<ul>
  <li *ngFor="let current of folder.children">

    <span *ngIf="current.isFolder()">



      <span (click)="current.toggle()">{{ current.name }}</span>
    <div *ngIf="current.expanded">
      <app-folder [folder]= "current" ></app-folder>
    </div>
    </span>

    <span *ngIf="!current.isFolder()">

      <span>{{ current.name }}</span>
    </span>
  </li>
</ul>


<!--<tr *ngFor="let current of folder.children">-->
  <!--<button (click)="affiche()" type="button"> {{current.name}} </button>-->
<!--</tr>-->
